<!DOCTYPE html>
<body>
    <table>
        <caption>Сравнение смартфонов</caption>
        <thead>
            <tr>
                <th></th>
                <th scope="col">Процессор</th>
                <th scope="col">Батарея</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">iPhone 15</th>
                <td>A16 Bionic</td>
                <td>4000 mAh</td>
            </tr>
            <tr>
                <th scope="row">Samsung S23</th>
                <td>Snapdragon 8 Gen 2</td>
                <td>4500 mAh</td>
            </tr>
        </tbody>
    </table>    
</body>
