<!DOCTYPE html>
<body>
    <table border="13" cellpadding="5" cellspacing="3" width="50%">
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
    </table>

    <table border="1">
        <tr>
            <th colspan="2">Объединенные колонки</th>
        </tr>
        <tr>
            <td rowspan="2">Объединенные строки</td>
            <td>Ячейка 1</td>
        </tr>
        <tr>
            <td>Ячейка 2</td>
        </tr>
    </table>
</body>

